.container{
    width: 60%;
    min-height: 400px;
    position: absolute;
    max-height: 100vh;
    top:15%;
    left: 20%;
    z-index: 4;
    background-color: #292929;
}

.windowContent{
    margin:0.25%;
    margin-top: 0;
    width: 99.5%;
}

@media only screen and (max-width: 600px) {
 .container{
    width: 85%;
    margin-left: 5px;
    left: inherit;
    top: inherit;
    position: fixed;
    bottom: 10vh;
    max-height: 50vh;
 }   
}