.container{
    width: 40%;
    position: absolute;
    max-height: 100vh;
    min-height: 400px;
    top:15%;
    left: 20%;
    z-index: 8;
    background-color: #292929;
}


.activeWindow{
    border: 1.3px dashed #fafafa;
    z-index: 10;
}

.windowContent{
    margin:0.25%;
    margin-top: 0;
    width: 99.5%;
    
}

@media only screen and (max-width: 600px) {
 .container{
    width: 100%;
    left: inherit;
    top: inherit;
    position: fixed;
    
 }   
}

@media only screen and (max-width: 1024px) {
    .container{
       width: 60%;
       
    }   
   }