.container{
    color: #fafafa;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    font-size: 0.7em;
}

.elementContainer{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}