.techCard {
  min-width: 300px;
  width: 30%;
  border: 1px rgb(184, 184, 184) solid;
  -webkit-box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.432);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.432);
  border-radius: 5px;
  margin: 20px;
  flex-wrap: wrap;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #616161;
}

.cardImage {
  margin-bottom: 10px;
}

.cardTitle {
  font-size: 1.2em;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .techCard {
    width: 80%;
    margin: 20px 0;
  }
}
