.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #616161;
}

.container h2 {
  font-weight: 600;
  font-size: 1.6em;
  margin-top: 15px;
}

.container p {
  font-weight: 300;
}
